tei_enrichment/src/main/resources/schemes/teiOrigin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @author       René Ackels
Copyright (c) 2023 Universität Trier

This file is part of OCR-To-TEI.

OCR-To-TEI is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OCR-To-TEI is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tei-c.org/ns/1.0"
  xmlns:self="http://www.tei-c.org/ns/1.0" elementFormDefault="qualified"
  attributeFormDefault="unqualified" xmlns:mods="http://www.loc.gov/mods/v3">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="https://www.w3.org/2009/01/xml.xsd" />
  <xs:include schemaLocation="teiHeader.xsd" />

  <xs:complexType name="Text">
    <xs:all>
      <xs:element name="front" type="self:Front" minOccurs="0" maxOccurs="1" />
      <xs:element name="body" type="self:Body" minOccurs="0" maxOccurs="1" />
      <xs:element name="group" type="self:OuterGroup" minOccurs="0" maxOccurs="1" />
      <xs:element name="back" type="self:Back" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="GroupText">
    <xs:all>
      <xs:element name="front" type="self:Front" minOccurs="0" maxOccurs="1" />
      <xs:element name="body" type="self:GroupBody" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="OuterGroup">
    <xs:choice>
      <xs:element name="group" type="self:InnerGroup" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InnerGroup">
    <xs:choice>
      <xs:element name="text" type="self:GroupText" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Front">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="pb" type="self:PbFront" />
      <xs:element name="div" type="self:DivFront" />
      <xs:element name="titlePage" type="self:titlePage" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Back">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="div" type="self:DivFront" maxOccurs="unbounded" />
      <xs:element name="pb" type="self:PbFront" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="table" type="self:Table" maxOccurs="unbounded" />
      <xs:element name="list" type="self:List" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="trailer" type="self:Trailer" maxOccurs="unbounded" />
      
    </xs:choice>
  </xs:complexType>

  


  <xs:complexType name="titlePage" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="docTitle" type="self:docTitle" maxOccurs="unbounded" />
      <xs:element name="docEdition" type="self:PFront" maxOccurs="unbounded" />
      <xs:element name="docImprint" type="self:docImprint" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Note" mixed="true">
    <xs:attribute name="cert">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="Subst" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="del" type="self:Del" maxOccurs="unbounded" />
      <xs:element name="add" type="self:Add" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="titlePart" type="self:titlePart" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="docTitle">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="titlePart" type="self:titlePart" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="docImprint">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="pubPlace" type="self:LbEtc" />
      <xs:element name="publisher" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="docDate" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="LbEtc" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="gap" type="self:Gap" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="num" type="self:Num" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="milestone" type="self:Milestone" maxOccurs="unbounded" />
      <xs:element name="table" type="self:Table" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="trailer" type="self:Trailer" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="cert">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lemma">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="cols">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Table" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="row" type="self:Row" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Row" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="cell" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="List" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="item" type="self:Item" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="pb" type="self:Pb" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Item" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="ref" type="self:Ref" maxOccurs="unbounded" />
      <xs:element name="list" type="self:List" maxOccurs="unbounded" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Ref" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="item" type="self:Item" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="pb" type="self:Pb" maxOccurs="unbounded" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>



  <xs:simpleType name="docEditionValue">
    <xs:restriction base="xs:string" />
  </xs:simpleType>


  <xs:simpleType name="Trailer">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="titlePart" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="DivFront">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="p" type="self:PFront" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="head" type="self:Head" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="div" type="self:DivFront" maxOccurs="unbounded" />
      <xs:element name="pb" type="self:Pb" maxOccurs="unbounded" />
      <xs:element name="milestone" type="self:Milestone" maxOccurs="unbounded" />
      <xs:element name="table" type="self:Table" maxOccurs="unbounded" />
      <xs:element name="list" type="self:List" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="trailer" type="self:Trailer" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="corresp">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="n">
      <xs:simpleType>
        <xs:restriction base="xs:integer" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute ref="xml:id"/>
    <xs:anyAttribute />
  </xs:complexType>

  <xs:complexType name="Milestone">
    <xs:attribute name="unit">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Head" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="PbFront">
    <xs:attribute name="n">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="facs">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute ref="xml:id"/>
  </xs:complexType>

  <xs:complexType name="PFront" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="pb" type="self:Pb" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="num" type="self:Num" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="gap" type="self:Gap" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="milestone" type="self:Milestone" maxOccurs="unbounded" />
      <xs:element name="table" type="self:Table" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Gap">
    <xs:attribute name="unit">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="quantity">
      <xs:simpleType>
        <xs:restriction base="xs:integer" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="reason">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Num" mixed="true">
        <xs:anyAttribute processContents="skip"/>
  </xs:complexType>

  <!-- <xs:complexType name="Subst">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="del" type="self:Del" maxOccurs="unbounded" />
      <xs:element name="add" type="self:Add" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType> -->

  <xs:complexType name="Del" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="abbr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="expan" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="orig" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="reg" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="seg" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="sic" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="corr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="add" type="self:Add" maxOccurs="unbounded" />
      <xs:element name="del" type="self:Del" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Add" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="abbr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="expan" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="orig" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="reg" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="seg" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="sic" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="corr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="add" type="self:Add" maxOccurs="unbounded" />
      <xs:element name="del" type="self:Del" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="place">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Foreign" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="abbr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="expan" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="orig" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="reg" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="seg" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="sic" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="corr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="num" type="self:Num" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="pb" type="self:PbFront" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute ref="xml:lang"/>
  </xs:complexType>


  <xs:complexType name="Choice">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="abbr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="expan" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="orig" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="reg" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="seg" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="sic" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="corr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="NameGND">
    <xs:complexContent>
      <xs:extension base="self:NameValue">
        <xs:attribute name="ref">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="cert">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute ref="xml:lang"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SourceGND">
    <xs:complexContent>
      <xs:extension base="self:NameValue">
        <xs:attribute name="ref">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="source">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NameValue" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="pb" type="self:Pb" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="abbr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="expan" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="sic" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="corr" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
    </xs:choice>
    <!-- <xs:restriction base="xs:string" /> -->
  </xs:complexType>

  <xs:complexType name="Body">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="div" type="self:DivFront" maxOccurs="unbounded"/>
      <xs:element name="pb" type="self:Pb" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="rs" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="num" type="self:Num" maxOccurs="unbounded" />
      <xs:element name="gap" type="self:Gap" maxOccurs="unbounded"  />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="milestone" type="self:Milestone" maxOccurs="unbounded" />
      <xs:element name="table" type="self:Table" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      <xs:element name="trailer" type="self:Trailer" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="GroupBody">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="div" type="self:DivFront" maxOccurs="unbounded" />
      <xs:element name="pb" type="self:Pb" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="table" type="self:Table" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="Pbody" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="div" type="self:DivFront" maxOccurs="unbounded" />
      <xs:element name="pb" type="self:Pb" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="table" type="self:Table" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Figure">
    <xs:complexContent>
      <xs:extension base="self:FigureValue">
        <xs:attribute name="facs">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="subtype">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="place">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="corresp">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute ref="xml:id"/>
        <xs:anyAttribute />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="FigureValue">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="graphic" type="self:Graphic" maxOccurs="unbounded" />
      <xs:element name="figDesc" type="self:FigDesc" maxOccurs="unbounded" />
      <xs:element name="lb" type="self:Lb" maxOccurs="unbounded" />
      <xs:element name="fw" type="self:Fw" maxOccurs="unbounded" />
      <xs:element name="figure" type="self:Figure" maxOccurs="1" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="head" type="self:Head" maxOccurs="unbounded" />
      <xs:element name="p" type="self:Pbody" maxOccurs="unbounded" />
      <xs:element name="list" type="self:FigureList" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="w" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="table" type="self:Table" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="FigureList" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="item" type="self:FigureListItem" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="FigureListItem" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
        <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />
        <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
        <xs:element name="foreign" type="self:Foreign" maxOccurs="unbounded" />
      </xs:choice>
  </xs:complexType>


  <xs:complexType name="Graphic">
    <xs:attribute name="url">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="FigDesc" mixed="true">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="height" type="self:Height" maxOccurs="unbounded" />
      <xs:element name="width" type="self:Width" maxOccurs="unbounded" />
      <xs:element name="note" type="self:Note" maxOccurs="unbounded" />
      <xs:element name="name" type="self:NameGND" maxOccurs="unbounded" />
      <xs:element name="quote" type="self:SourceGND" maxOccurs="unbounded" />

      
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Height" mixed="true">
    <xs:attribute name="unit">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="quantity">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Width" mixed="true">
    <xs:attribute name="unit">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="quantity">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="Fw">
    <xs:complexContent>
      <xs:extension base="self:FwValue">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="sig" />
              <xs:enumeration value="header" />
              <xs:enumeration value="catch" />
              <xs:enumeration value="pageNum" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="FwValue" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="choice" type="self:Choice" maxOccurs="unbounded" />
      <xs:element name="supplied" type="self:LbEtc" maxOccurs="unbounded" />
      <xs:element name="subst" type="self:Subst" maxOccurs="unbounded" />
      

    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Pb" mixed="true">
    <xs:attribute name="n">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="facs">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute ref="xml:id"/>
  </xs:complexType>

  <xs:complexType name="Lb">
    <xs:attribute name="n">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:schema>